#home #about-us {
  @include tablet {
    margin: 2vw 0;
  }
  .text {
    position: relative;
    z-index: 1;
    p {
      max-width: 200%;
      span {
        display: block;
      }
    }
    @include widescreen {
      transform: translateY(-70px);
    }
    @include desktop {
      transform: translateY(-5.8333vw);
    }
  }
  img {
    height: auto;
    @include widescreen {
      width: 580px;
    }
    @include desktop {
      width: vw(580px);
    }
    @include tablet {
      width: 140%;
      margin-top: 5vw;
    }
  }
  .liner {
    display: flex;
    align-items: center;
    @include widescreen {
      padding: 180px 60px 70px 180px;
      gap: 40px;
    }
    @include desktop {
      padding: vw(180px) vw(60px) vw(70px) vw(180px);
      gap: vw(40px);
    }
    @include tablet {
      flex-direction: column;
      margin: 0;
    }
    @include mobile {
      flex-direction: column;
      margin: 0;
    }
  }
}
