<section id='about-us' class={{if this.inView 'show' 'hide'}}>
  <div class='liner'>
    <div class='text'>
      <h2 class='h2'>About us</h2>
      <Waypoint @onFirstView={{fn (mut this.inView)}} />
      <p>The Interflux Group is a worldwide network of manufacturers,
        researchers and distributors who supply the electronics industry with
        soldering chemistry, equipment and know-how.</p>
      <p>We've been working with electronics manufacturers since 1980. That’s 42
        years of continued trust in our products and way of working. That is 42
        years of accumulated know-how about all assembly techniques, all trends
        and all issues known to electroninics manufactures.</p>
    </div>

    <img
      src='{{cdn}}/images/group/about-us@1184x1114.jpg'
      width='592'
      height='557'
      alt='stencil printing, circuit board and selective soldering fountain'
    />
  </div>
</section>