<Section @id='about-us'>
  <div class='text'>
    <h2 class='h2'>About us</h2>
    <p>The Interflux Group is an international network of companies supplying
      the electronics manufacturing industry with equipment, soldering chemistry
      and know-how.</p>
  </div>

  <img
    src='{{cdn}}/images/group/about-us@1184x1114.jpg'
    width='592'
    height='557'
    alt='stencil printing, circuit board and selective soldering fountain'
  />
</Section>