<section id='about-us'>
  <div class='liner block'>
    <div class='text'>
      <h2 class={{if (or (media 'mobile') (media 'tablet')) 'h3' 'h2'}}>About us</h2>
      <p>The Interflux Group is a worldwide network of manufacturers,
        researchers and distributors who supply the electronics industry with
        soldering chemistry, equipment and know-how.</p>
      <p>We've been working with electronics manufacturers since 1980. That’s 42
        years of continued trust in our products and way of working. That is 42
        years of accumulated know-how about all assembly techniques, all trends
        and all issues known to electronics manufacturers.</p>
    </div>

    {{#if (media 'mobile')}}
      <img
        src='{{cdn}}/images/group/about-us-mobile@750x600.webp'
        width='375'
        height='300'
        alt='stencil printing, circuit board and selective soldering fountain'
      />
    {{else}}
      <img
        src='{{cdn}}/images/group/about-us@1184x1114.webp'
        width='592'
        height='557'
        alt='stencil printing, circuit board and selective soldering fountain'
      />
    {{/if}}
  </div>
</section>