// Variables
@import 'variables/colours';
@import 'variables/fonts';
@import 'variables/easings';
@import 'variables/images';

// Mixins
@import 'mixins/responsive';
@import 'mixins/browser-prefixes';
@import 'mixins/text';
@import 'mixins/other';

// Fonts
@import 'fonts/nunito-sans-embedded';

// Normalise
@import 'normalise/cross-browser';
@import 'normalise/cross-project';

// Components
@import 'app/components/left-nav';

section.screen-high {
  height: 90vh;
  padding: 100px;
  box-sizing: border-box;
  .liner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}

section .liner {
  max-width: 600px;
  margin: 0 auto;
}

section#hero {
  background-color: $green-3;
  background-image: url('#{$cdn}/images/group/hero@2400x1400.jpg');
  background-size: cover;
  background-position: center;
  img#logo {
    position: absolute;
    height: auto;
    @include widescreen {
      left: 50px;
      top: 50px;
      width: 270px;
    }
    @include desktop {
      left: vw(50px);
      top: vw(50px);
      width: vw(270px);
    }
    @include tablet {
    }
    @include mobile {
    }
  }
  img.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }
  h1 {
    color: white;
    line-height: 180%;
    text-align: center;
    align-items: center;
    font-family: $bold;
    @include widescreen {
      font-size: 32px;
      max-width: 550px;
    }
    @include desktop {
      font-size: vw(32px);
      max-width: vw(550px);
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      // TODO
    }
  }
}

section#about-us {
  height: 90vh;
  padding: 100px 50px 100px 200px;
  gap: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 500px;
    height: auto;
  }
}

section#what-we-do-1 {
}

section#what-we-do-2 {
}

section#what-we-do-3 {
}

section#locations {
  background: $blue-4;
  h2,
  p {
    color: white;
  }
}

section#managed-by {
  padding: 100px;
  box-sizing: border-box;
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    gap: 40px;
  }
}

section#members {
  background: $grey-0;
  padding: 100px;
  box-sizing: border-box;
  h2 {
    text-align: center;
  }
}

footer {
  background: $grey-0;
}
