#home #members .slide {
  &.active {
    .hero {
      button {
        border-radius: 4px 4px 0 0;
        width: 600px;
        height: 300px;
      }
    }
  }
  .white-pane {
    background: white;
    box-shadow: 0 4px 14px rgba(black, 0.15);
    border-radius: 4px;
    @include widescreen {
      width: 600px;
    }
    @include desktop {
      width: vw(600px);
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      // TODO
    }
  }
  .hero {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      display: grid;
      grid-template-areas: 'center';
      grid-template-columns: auto;
      grid-template-rows: minmax(0, 1fr);
      align-items: center;
      justify-items: center;
      padding: 0;
      outline: 0;
      border: 0;
      cursor: pointer;
      background: none;
      overflow: hidden;
      transition: all 1000ms $easeOutExpo;
      width: 300px;
      height: 108px;
      .logo {
        grid-area: center;
        background-color: rgba($blue-4, 0.85);
        width: 300px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: auto;
          width: 89%;
        }
      }
      .bg {
        grid-area: center;
        img {
          width: 100%;
          height: auto;
        }
      }

      img {
        height: auto;
        width: 89%;
      }
    }
  }
  .content {
    @include widescreen {
      padding: 65px;
    }
    @include desktop {
      padding: vw(65px);
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      // TODO
    }
    h4 + p {
      margin-top: 16px;
    }
    p + h4 {
      margin-top: 40px;
    }
    .members {
      ul {
        display: flex;
        flex-direction: column;
        @include widescreen {
          gap: 10px;
          margin-top: 20px;
        }
        @include desktop {
          gap: vw(10px);
          margin-top: vw(20px);
        }
        @include tablet {
          gap: 10px; // TODO
          margin-top: 20px; // TODO
        }
        @include mobile {
          gap: 10px; // TODO
          margin-top: 20px; // TODO
        }
      }
      li {
        display: flex;
        align-items: center;
        .avatar {
          display: flex;
          align-items: center;
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;
          @include widescreen {
            width: 72px;
            height: 72px;
            margin-right: 20px;
          }
          @include desktop {
            width: vw(72px);
            height: vw(72px);
            margin-right: vw(20px);
          }
          @include tablet {
            width: vw-tablet(72px);
            height: vw-tablet(72px);
            margin-right: vw-tablet(20px);
          }
          @include mobile {
            width: vw-mobile(72px);
            height: vw-mobile(72px);
            margin-right: vw-mobile(20px);
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3 {
            font-family: $bold;
            color: $grey-7;
            line-height: 180%;
            @include widescreen {
              font-size: 16px;
            }
            @include desktop {
              font-size: vw(16px);
            }
            @include tablet {
              font-size: vw-tablet(16px);
            }
            @include mobile {
              font-size: vw-mobile(16px);
            }
          }
          p + p {
            margin-top: 0;
          }
        }
      }
    }
  }
}
