#home #members .slide {
  position: relative;
  &.active {
    .hero {
      button {
        border-radius: 4px 4px 0 0;
        width: 600px;
        height: 300px;
      }
    }
    .content {
      opacity: 1;
      width: 600px;
      background: white;
      box-shadow: 0 4px 14px rgba(black, 0.15);
    }
  }
  .hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    button {
      display: grid;
      grid-template-areas: 'center';
      grid-template-columns: auto;
      grid-template-rows: minmax(0, 1fr);
      align-items: center;
      justify-items: center;
      padding: 0;
      outline: 0;
      border: 0;
      cursor: pointer;
      background: none;
      overflow: hidden;
      transition: all 1500ms $easeOutExpo;
      width: 300px;
      height: 108px;
      .logo {
        grid-area: center;
        background-color: rgba($blue-4, 0.85);
        width: 300px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: auto;
          width: 89%;
        }
      }
      .bg {
        grid-area: center;
        img {
          width: 100%;
          height: auto;
        }
      }

      img {
        height: auto;
        width: 89%;
      }
    }
  }
  .content {
    z-index: 1;
    position: relative;
    border-radius: 4px;
    transition: all 1500ms $easeOutExpo;
    width: 300px;
    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
    .space {
      height: 300px;
    }
    .inner {
      width: 600px;
      box-sizing: border-box;
      transition: all 1500ms $easeOutExpo;
      @include widescreen {
        padding: 65px;
      }
      @include desktop {
        padding: vw(65px);
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        // TODO
      }
    }
    h3 + p,
    h3 + ul,
    p + p {
      margin-top: 12px;
    }
    p + h3,
    ul + h3 {
      margin-top: 40px;
    }
    ul.people {
      display: flex;
      flex-direction: column;
      @include widescreen {
        gap: 20px;
        margin: 14px 0;
      }
      @include desktop {
        gap: vw(20px);
        margin: 14px 0;
      }
      @include tablet {
        gap: 20px; // TODO
        margin: 14px 0;
      }
      @include mobile {
        gap: 20px; // TODO
        margin: 14px 0;
      }
      li {
        display: flex;
        align-items: center;
        .avatar {
          display: flex;
          align-items: center;
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;
          @include widescreen {
            width: 70px;
            height: 70px;
            margin-right: 16px;
          }
          @include desktop {
            width: vw(70px);
            height: vw(70px);
            margin-right: vw(16px);
          }
          @include tablet {
            width: vw-tablet(70px);
            height: vw-tablet(70px);
            margin-right: vw-tablet(16px);
          }
          @include mobile {
            width: vw-mobile(70px);
            height: vw-mobile(70px);
            margin-right: vw-mobile(16px);
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          p + p {
            margin-top: 0;
          }
        }
      }
    }
    ul.countries {
      display: flex;
      flex-direction: column;
      @include widescreen {
        gap: 8px;
        margin-top: 16px;
      }
      @include desktop {
        gap: vw(8px);
        margin-top: vw(16px);
      }
      @include tablet {
        gap: 8px; // TODO
        margin-top: 16px;
      }
      @include mobile {
        gap: 8px; // TODO
        margin-top: 16px;
      }
      li {
        display: flex;
        align-items: center;
        gap: 14px;
      }
    }
    p.address {
      max-width: 50%;
    }
    p.contacts {
      display: flex;
      flex-direction: column;
    }
  }
}
