#home #members {
  background-color: $grey-0;
  background: radial-gradient(white, $grey-0);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @include widescreen {
    padding: 100px 0;
  }
  @include desktop {
    padding: vw(100px) 0;
  }
  @include tablet {
    // TODO
  }
  @include mobile {
    // TODO
  }
  h2 {
    text-align: center;
  }
  nav#dots {
    display: flex;
    @include widescreen {
      padding: 25px 0 30px;
    }
    @include desktop {
      padding: vw(25px) 0 30px;
    }
    @include tablet {
      padding: 25px 0 30px; // TODO
    }
    @include mobile {
      padding: 25px 0 30px; // TODO
    }
    button {
      background: none;
      border: 0;
      width: 26px;
      height: 26px;
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover,
      &:focus {
        .dot {
          background: $blue-0;
        }
      }
      &.active {
        .dot {
          background: $orange-0;
        }
      }
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $grey-4;
      }
    }
  }
  nav#arrows {
    height: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include widescreen {
      width: 780px;
    }
    @include desktop {
      width: vw(780px);
    }
    @include tablet {
      width: vw(780px); // TODO
    }
    @include mobile {
      width: vw(780px); // TODO
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $grey-1;
      background: $grey-0;
      @include widescreen {
        width: 50px;
        height: 50px;
        border-radius: 4px;
      }
      @include desktop {
        width: vw(50px);
        height: vw(50px);
        border-radius: vw(4px);
      }
      @include tablet {
        width: 50px; // TODO
        height: 50px; // TODO
        border-radius: vw(4px); // TODO
      }
      @include mobile {
        width: 50px; // TODO
        height: 50px; // TODO
        border-radius: vw(4px); // TODO
      }
      &:hover,
      &:focus {
        border-color: $blue-0;
        cursor: pointer;
        svg {
          [fill] {
            fill: $blue-0;
          }
        }
      }
      svg {
        height: auto;
        @include widescreen {
          width: 11px;
        }
        @include desktop {
          width: vw(11px);
        }
        @include tablet {
          width: 11px; // TODO
        }
        @include mobile {
          width: 11px; // TODO
        }
        [fill] {
          fill: $grey-4;
        }
      }
    }
  }
  #slides {
    position: relative;
    min-height: 300px;
    width: 600px;
    transition: all 1500ms $easeOutExpo;
    #stage {
      position: absolute;
      transition: all 1500ms $easeOutExpo;
      display: flex;
      gap: 100px;
      align-items: flex-start;
    }
  }
  img.footer {
    margin-top: 40px;
  }
}
