#home #members {
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @include desktop-and-up {
    background: $grey-0 radial-gradient(white, $grey-0);
  }
  @include tablet-and-below {
    background: $grey-0;
  }
  @include widescreen {
    padding: 100px 0;
  }
  @include desktop {
    padding: vw(100px) 0;
  }
  h1,
  > h2 {
    text-align: center;
  }
  nav#dots {
    display: flex;
    @include widescreen {
      padding: 25px 0 30px;
    }
    @include desktop {
      padding: vw(25px) 0 30px;
    }
    @include tablet-and-below {
      position: absolute;
      z-index: 3;
      width: 100vw;
      justify-content: center;
      align-items: center;
    }
    @include tablet {
      top: 50vw;
      height: 8vw;
      background: $grey-0;
    }
    @include mobile {
      top: 100vw;
      height: 16vw;
      background: white;
    }
    button {
      background: none;
      border: 0;
      padding: 0;
      cursor: pointer;
      display: grid;
      grid-template-areas: 'center';
      grid-template-columns: auto;
      grid-template-rows: minmax(0, 1fr);
      align-items: center;
      justify-items: center;
      @include widescreen {
        width: 26px;
        height: 26px;
      }
      @include desktop {
        width: vw(26px);
        height: vw(26px);
      }
      @include tablet {
        width: 2.7vw;
        height: 2.7vw;
      }
      @include mobile {
        width: 4vw;
        height: 4vw;
      }
      &:hover,
      &:focus {
        .dot {
          background: $orange-0;
        }
        .ring {
          border-color: $orange-0;
        }
      }
      &.active {
        .dot {
          background: $orange-0;
        }
        .ring {
          transform: scale(1.8);
          border-color: $orange-0;
        }
      }
      .dot,
      .ring {
        border-radius: 50%;
        transition: border-color 500ms $easeOutExpo;
        grid-area: center;
        @include widescreen {
          width: 10px;
          height: 10px;
        }
        @include desktop {
          width: vw(10px);
          height: vw(10px);
        }
        @include tablet {
          width: 50%;
          height: 50%;
        }
        @include mobile {
          width: 50%;
          height: 50%;
        }
      }
      .dot {
        background-color: $grey-5;
      }
      .ring {
        transition: all 500ms $easeOutExpo;
        transition-property: transform, background-color;
        border: 1px solid $grey-5;
        box-sizing: border-box;
        @include widescreen {
          border-width: 1px;
        }
        @include desktop {
          border-width: vw(1px);
        }
        @include tablet {
          border-width: 0.15vw;
        }
        @include mobile {
          border-width: 0.2vw;
        }
      }
    }
  }
  nav#arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    @include widescreen {
      height: 0;
      width: 780px;
    }
    @include desktop {
      height: 0;
      width: vw(780px);
    }
    @include tablet-and-below {
      position: absolute;
      width: 100vw;
      box-sizing: border-box;
    }
    @include tablet {
      top: 50vw;
      padding: 1vw;
    }
    @include mobile {
      top: 100vw;
      padding: 3vw;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $grey-1;
      background: $grey-0;
      @include widescreen {
        width: 50px;
        height: 50px;
        border-radius: 4px;
      }
      @include desktop {
        width: vw(50px);
        height: vw(50px);
        border-radius: vw(4px);
      }
      @include tablet {
        width: 6vw;
        height: 6vw;
        border-radius: 0.4vw;
      }
      @include mobile {
        width: 10vw;
        height: 10vw;
        border-radius: 0.8vw;
      }
      &:hover,
      &:focus {
        border-color: $blue-0;
        cursor: pointer;
        svg {
          [fill] {
            fill: $blue-0;
          }
        }
      }
      &:active {
        border-color: $orange-0;
        cursor: pointer;
        svg {
          [fill] {
            fill: $orange-0;
          }
        }
      }
      svg {
        height: auto;
        @include widescreen {
          width: 11px;
        }
        @include desktop {
          width: vw(11px);
        }
        @include tablet {
          width: 1.5vw;
        }
        @include mobile {
          width: 2.4vw;
        }
        [fill] {
          fill: $grey-5;
        }
      }
    }
  }
  #slides {
    position: relative;
    transition: all 1500ms $easeOutExpo;
    @include widescreen {
      width: 600px;
      min-height: 300px;
    }
    @include desktop {
      width: vw(600px);
      min-height: vw(300px);
    }
    @include tablet-and-below {
      width: 100vw;
    }
    #stage {
      position: absolute;
      transition: all 1500ms $easeOutExpo;
      display: flex;
      align-items: flex-start;
      @include widescreen {
        gap: 100px;
      }
      @include desktop {
        gap: vw(100px);
      }
      @include tablet-and-below {
        gap: 2.5vw;
      }
      @for $i from 0 through 14 {
        &[data-shown-slide='#{$i}'] {
          @include widescreen {
            left: calc(400px * -1 * $i);
          }
          @include desktop {
            left: calc(33.3333333333vw * -1 * $i);
          }
          @include tablet-and-below {
            left: calc(102.5vw * -1 * $i);
          }
        }
      }
    }
  }
  img.footer {
    @include widescreen {
      margin-top: 40px;
    }
    @include desktop {
      margin-top: vw(40px);
    }
    @include tablet {
      margin: 7vw 0;
    }
    @include mobile {
      margin: 10vw 0;
    }
  }
}
