<section id='members'>
  <h2>Members</h2>
  <ul>
    <Pages::Homepage::Members::Belgium />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::Singapore />

    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />
    <Pages::Homepage::Members::China />

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Sweden</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Norway</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Denmark</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Estonia</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux France</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Poland</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Australia</h3>
    </Pages::Homepage::Members::Slide>

    <Pages::Homepage::Members::Slide>
      <h3>Interflux Mexico</h3>
    </Pages::Homepage::Members::Slide>
  </ul>

  <img
    src='{{cdn}}/images/group/interflux-symbol-grey.svg'
    alt='Interflux symbol'
    width='100'
    height='70'
  />
</section>