@keyframes drop {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0) translateY(50%);
  }
  100% {
    transform: scale(1) translateY(50%);
  }
}
#home #locations {
  background: $blue-4;
  position: relative;
  #mapbox {
    position: relative;
    z-index: 1;
    @include widescreen {
      height: 60vw;
      max-height: 900px;
    }
    @include desktop {
      height: 60vw;
      max-height: vw(900px);
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      // TODO
    }
  }
  #markers {
    display: none;
  }
  .mapboxgl-marker {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include widescreen {
      width: 30px;
      height: 30px;
    }
    @include desktop {
      width: vw(30px);
      height: vw(30px);
    }
    @include tablet {
      // TODO
      width: 2vw;
      height: 2vw;
    }
    @include mobile {
      // TODO
      width: 2vw;
      height: 2vw;
    }
    &.shadow {
      z-index: 1;
      svg {
        width: 80%;
        height: auto;
        animation: scale 1000ms $easeOutExpo;
        transform: translateY(50%);
      }
    }
    &.marker {
      z-index: 2;
      svg {
        width: 100%;
        height: auto;
        animation: drop 1000ms $easeOutExpo;
        .border {
          opacity: 0;
        }
      }
    }
  }
  .text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    left: 50%;
    @media (min-width: 1901px) {
      transform: translateX(-860px);
    }
    @media (max-width: 1900px) {
      transform: translateX(-360px);
    }
    // TODO
    h2,
    p {
      color: white;
      &:nth-of-type(1) {
        @include widescreen {
          width: 240px;
        }
        @include desktop {
          width: vw(240px);
        }
        @include tablet {
        }
        @include mobile {
        }
      }
      &:nth-of-type(2) {
        @include widescreen {
          width: 366px;
        }
        @include desktop {
          width: vw(366px);
        }
        @include tablet {
        }
        @include mobile {
        }
      }
    }
    h2 {
      font-family: $light;
      line-height: 140%;
      @include widescreen {
        font-size: 32px;
        margin: 42px 0 12px;
      }
      @include desktop {
        font-size: vw(32px);
        margin: vw(42px) 0 vw(12px);
      }
      @include tablet {
      }
      @include mobile {
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
  img#logo {
    position: absolute;
    height: auto;
    z-index: 1;
    @include widescreen {
      left: 50px;
      top: 50px;
      width: 270px;
    }
    @include desktop {
      left: vw(50px);
      top: vw(50px);
      width: vw(270px);
    }
    @include tablet {
    }
    @include mobile {
    }
  }
}
