<Section @id='locations'>
  <h2>Coordinated by 14 companies across the world</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
  <h2>Servicing 89+ countries</h2>
  <p>Active in 15. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore.</p>
</Section>