<main id='home'>
  <LeftNav />
  <Pages::Homepage::Hero />
  <Pages::Homepage::AboutUs />
  <Pages::Homepage::Activities />
  <Pages::Homepage::Locations @companies={{@model.companies}} />
  <Pages::Homepage::Managers />
  <Pages::Homepage::Members @companies={{@companies}} />
</main>