<main id='home'>
  {{! <LeftNav /> }}
  <Pages::Homepage::Hero />
  {{#if @loading}}
    <Pages::Homepage::Loading />
  {{else}}
    <!-- <Pages::Homepage::AboutUs /> -->
    <!-- <Pages::Homepage::Activities /> -->
    <!-- <Pages::Homepage::Locations @companies={{@companies}} /> -->
    <!-- <Pages::Homepage::Managers /> -->
    <Pages::Homepage::Members @companies={{@companies}} />
  {{/if}}
</main>