<main id='home'>
  <LeftNav />
  <Pages::Homepage::Hero />
  <Pages::Homepage::AboutUs />
  <Pages::Homepage::Activities />
  <Pages::Homepage::Locations />
  <Pages::Homepage::Managers />
  <Pages::Homepage::Members />
</main>