#home #managers {
  .liner {
    @include mobile {
      margin: 0;
    }
  }
  h2 {
    @include widescreen {
      text-align: center;
      margin: 80px 0;
    }
    @include desktop {
      text-align: center;
      margin: vw(80px) 0;
    }
  }
  ul {
    @include widescreen {
      flex-direction: row;
      margin: 0 auto 90px;
      width: 940px;
    }
    @include desktop {
      flex-direction: row;
      margin: 0 auto vw(90px);
      width: vw(940px);
    }
    li {
      flex: 1;
    }
  }
}
