<Section @id='managers'>
  <h2 class='h3'>Managed by</h2>
  <ul>
    <li>
      <img
        src='{{cdn}}/images/people/avatar-daniel@250x250.png'
        alt='Daniel Werkhoven'
        width='75'
        height='75'
      />
      <div class='text'>
        <h3 class='h3'>Daniel Werkhoven</h3>
        <p>Founder, Director & CEO</p>
      </div>
    </li>

    <li>
      <img
        src='{{cdn}}/images/people/avatar-steven@160x160.jpg'
        alt='Steven Teliszewski'
        width='75'
        height='75'
      />
      <div class='text'>
        <h3 class='h3'>Steven Teliszewski</h3>
        <p>Chief Operating Officer</p>
      </div>
    </li>

    <li>
      <img
        src='{{env "cdnHost"}}/images/public/no-avatar.svg'
        aria-hidden='true'
        width='75'
        height='75'
      />
      <div class='text'>
        <h3 class='h3'>Annick Peeters</h3>
        <p>Chief Operating Officer</p>
      </div>
    </li>
  </ul>
</Section>