<main id='under-construction'>
  <img
    id='logo'
    src='{{cdn}}/images/logos/interflux-group-logo-white.svg'
    alt='Interflux Group'
    width='1000'
    height='253'
  />
  <p>Website under construction</p>
</main>