<section id='hero' aria-labelledby='h1'>
  <div class='bg'>
    <div class='preload'></div>
    <div class='high-res'></div>
  </div>

  <img
    id='logo'
    src='{{cdn}}/images/logos/interflux-group-logo-white.svg'
    alt='Interflux Group'
    width='1000'
    height='253'
  />

  <div class='liner'>
    <h1>
      <span>Chemistry, machines and know-how </span>
      <span>for the electonics industry</span>
    </h1>
  </div>
</section>