#home #activities {
  overflow: hidden;
  .liner {
    @include tablet {
      // TODO
    }
    @include mobile {
      margin: 0;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    @include widescreen {
      gap: 200px;
      padding: 150px 0 250px;
    }
    @include desktop {
      gap: vw(200px);
      padding: vw(150px) 0 vw(250px);
    }
    li {
      justify-content: space-between;
      align-items: center;
      transition: all 1000ms $easeOutExpo;
      transition-property: transform, opacity;
      @include widescreen {
        display: flex;
        padding: 0 60px 0 180px;
        gap: 60px;
      }
      @include desktop {
        display: flex;
        padding: 0 vw(60px) 0 vw(180px);
        gap: vw(60px);
      }
      @include tablet {
      }
      @include mobile {
      }
      &#chemistry {
        flex-direction: row-reverse;
        &.hide {
          .text {
            opacity: 0;
            transform: translateY(-20vh);
            @include mobile {
              transform: translateY(20vh);
            }
          }
          img {
            opacity: 0;
            transform: translateY(20vh);
            @include mobile {
              transform: translateY(20vh);
            }
          }
        }
        .text,
        img {
          transition: all 2000ms $easeOutExpo;
          transition-property: opacity, transform;
        }
        h2 {
          @include widescreen {
            width: 70%;
          }
          @include desktop {
            width: 70%;
          }
          @include tablet {
            // TODO
          }
          @include mobile {
            width: 90%;
          }
        }
        img {
          height: auto;
          @include widescreen {
            width: 480px;
          }
          @include desktop {
            width: vw(480px);
          }
        }
      }
      &#machines {
        align-items: flex-start;
        &.hide {
          .text {
            opacity: 0;
            transform: translateX(-20vw);
            @include mobile {
              transform: translateY(20vh);
            }
          }
          img {
            opacity: 0;
            transform: translateX(20vw);
            @include mobile {
              transform: translateY(20vh);
            }
          }
        }
        .text,
        img {
          transition: all 2000ms $easeOutExpo;
          transition-property: opacity, transform;
        }
        .text {
          position: relative;
          z-index: 1;
          h2 {
            @include widescreen {
              width: 160%;
            }
            @include desktop {
              width: 160%;
            }
          }
          p {
            @include widescreen {
              width: 200%;
            }
            @include desktop {
              width: 200%;
            }
            span {
              @include widescreen {
                display: block;
              }
              @include desktop {
                display: block;
              }
            }
          }
        }
        img {
          height: auto;
          @include widescreen {
            width: 660px;
            transform: translateY(80px);
            padding-top: 40px;
          }
          @include desktop {
            width: vw(660px);
            transform: translateY(#{vw(80px)});
            padding-top: vw(40px);
          }
        }
      }
      &#know-how {
        flex-direction: row-reverse;
        align-items: flex-end;
        &.hide {
          .text {
            opacity: 0;
            transform: translateY(-20vw);
            @include mobile {
              transform: translateY(20vh);
            }
          }
          img {
            opacity: 0;
            transform: translateY(20vw);
            @include mobile {
              transform: translateY(20vh);
            }
          }
        }
        .text,
        img {
          transition: all 2000ms $easeOutExpo;
          transition-property: opacity, transform;
        }
        img {
          height: auto;
          @include widescreen {
            width: 520px;
          }
          @include desktop {
            width: vw(520px);
          }
        }
      }
      h2 {
        @include widescreen {
          margin: 16px 0 15px;
        }
        @include desktop {
          margin: vw(16px) 0 vw(15px);
        }
      }
    }
  }
}
