#home #activities {
  overflow: hidden;
  width: 100%;
  .liner {
    @include mobile {
      margin: 0;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    @include widescreen {
      gap: 200px;
      padding: 150px 0 250px;
    }
    @include desktop {
      gap: vw(200px);
      padding: vw(150px) 0 vw(250px);
    }
    @include tablet {
      align-items: center;
    }
    li {
      justify-content: space-between;
      align-items: center;
      transition: all 1000ms $easeOutExpo;
      transition-property: transform, opacity;
      @include widescreen {
        display: flex;
        padding: 0 60px 0 180px;
        gap: 60px;
      }
      @include desktop {
        display: flex;
        padding: 0 vw(60px) 0 vw(180px);
        gap: vw(60px);
      }
      &#chemistry {
        flex-direction: row-reverse;
        &.hide {
          .text {
            opacity: 0;
            transform: translateY(-20vh);
            @include tablet-and-below {
              transform: translateY(20vh);
            }
          }
          img {
            opacity: 0;
            transform: translateY(20vh);
            @include tablet-and-below {
              transform: translateY(20vh);
            }
          }
        }
        .text,
        img {
          transition: all 2000ms $easeOutExpo;
          transition-property: opacity, transform;
        }
        h2 {
          @include widescreen {
            width: 70%;
          }
          @include desktop {
            width: 70%;
          }
          @include tablet {
            width: 70%;
          }
          @include mobile {
            width: 90%;
          }
        }
        img {
          height: auto;
          @include widescreen {
            width: 480px;
          }
          @include desktop {
            width: vw(480px);
          }
          @include tablet {
            margin-top: 4vw;
            width: 100%;
          }
        }
      }
      &#machines {
        align-items: flex-start;
        &.hide {
          .text {
            opacity: 0;
            transform: translateX(-20vw);
            @include tablet-and-below {
              transform: translateY(20vh);
            }
          }
          img {
            opacity: 0;
            transform: translateX(20vw);
            @include tablet-and-below {
              transform: translateY(20vh);
            }
          }
        }
        .text,
        img {
          transition: all 2000ms $easeOutExpo;
          transition-property: opacity, transform;
        }
        .text {
          position: relative;
          z-index: 1;
          h2 {
            @include widescreen {
              width: 160%;
            }
            @include desktop {
              width: 160%;
            }
            @include tablet {
              max-width: 80%;
            }
          }
          p {
            @include widescreen {
              width: 200%;
            }
            @include desktop {
              width: 200%;
            }
            span {
              display: block;
              @include mobile {
                display: inline;
              }
            }
          }
        }
        img {
          height: auto;
          @include widescreen {
            width: 660px;
            transform: translateY(80px);
            padding-top: 40px;
          }
          @include desktop {
            width: vw(660px);
            transform: translateY(#{vw(80px)});
            padding-top: vw(40px);
          }
          @include tablet {
            margin: -7vw 0 -3vw;
            width: 130%;
          }
        }
      }
      &#know-how {
        flex-direction: row-reverse;
        align-items: flex-end;
        &.hide {
          .text {
            opacity: 0;
            transform: translateY(-20vw);
            @include tablet-and-below {
              transform: translateY(20vh);
            }
          }
          img {
            opacity: 0;
            transform: translateY(20vw);
            @include tablet-and-below {
              transform: translateY(20vh);
            }
          }
        }
        .text,
        img {
          transition: all 2000ms $easeOutExpo;
          transition-property: opacity, transform;
        }
        img {
          height: auto;
          @include widescreen {
            width: 520px;
          }
          @include desktop {
            width: vw(520px);
          }
          @include tablet {
            width: 100%;
            margin-top: 4vw;
          }
        }
      }
      h2 {
        @include widescreen {
          margin: 16px 0 15px;
        }
        @include desktop {
          margin: vw(16px) 0 vw(15px);
        }
      }
    }
  }
}
