<Section @id='activities'>
  <ul>
    <li id='chemistry'>
      <div class='text'>
        <h3 class='h3'>Our speciality</h3>
        <h2 class='h2'>Chemistry for soldering electronics</h2>
        <p>The Interflux Group sells and supports the soldering materials
          produced by Interflux Electronics. Other materials in the portfolio
          are adhesives, cleaners, conformal coatings etc…</p>
      </div>

      <img
        src='{{cdn}}/images/group/chemistry@1016x684.jpg'
        width='508'
        height='342'
        alt='X-ray close up of a perfect wetting on the soldering joint of an electronics component'
      />
    </li>

    <li id='machines'>
      <div class='text'>
        <h3 class='h3'>Our purpose</h3>
        <h2 class='h2'>Equipment for manufacturing electronics</h2>
        <p>
          <span>Selective and wave soldering machines, reflow ovens, AOI, SPI,
          </span>
          <span>X-ray, cleaning machines and manual soldering equipment </span>
          <span>are just a selection out of the high end portfolio </span>
          <span>of the Interflux Group. Interflux Singapore </span>
          <span>develops and manufactures jet and </span>
          <span>spray fluxing systems.</span>
        </p>
      </div>

      <img
        src='{{cdn}}/images/group/machine@1291x990.jpg'
        width='645'
        height='495'
        alt='Ersa preheating oven'
      />
    </li>

    <li id='know-how'>
      <div class='text'>
        <h3 class='h3'>Our passion</h3>
        <h2 class='h2'>Know-how transfers</h2>
        <p>+42 years of international technical and process experience is shared
          with our customers by means of free webinars, on site trainings and
          start-ups. Good process knowledge is essential to produce a high
          quality end product.</p>
      </div>

      <img
        src='{{cdn}}/images/group/know-how@1044x816.webp'
        width='522'
        height='408'
        alt='two people in a laboratory pointing at a screen'
      />
    </li>
  </ul>
</Section>