img.flag {
  height: auto;
  @include widescreen {
    width: 32px;
  }
  @include desktop {
    width: vw(32px);
  }
  @include tablet {
    width: vw-tablet(32px);
  }
  @include mobile {
    width: vw-mobile(32px);
  }
  &.bg,
  &.cz,
  &.fi,
  &.id,
  &.it,
  &.kr,
  &.ph,
  &.pk,
  &.pl,
  &.rs,
  &.ru,
  &.sg,
  &.si {
    outline: 1px solid $grey-1;
  }
}
