<h1>Interlfux Group</h1>
<LinkTo @route='index'>Interflux Electronics</LinkTo>
<LinkTo @route='member' @model='Interflux-China'>Interflux China</LinkTo>
<LinkTo @route='member' @model='Interflux-Singapore'>Interflux Singapore</LinkTo>