<aside {{did-insert this.onInsert}}>
  <ul>
    <li>
      <a href='#about-us'>About us</a>
    </li>

    <li>
      <a href='#activities'>What we do</a>
    </li>

    <li>
      <a href='#locations'>Locations</a>
    </li>

    <li>
      <a href='#members'>Members</a>
    </li>
  </ul>
</aside>